@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");

$primary: #ff7f0a;
$primary65: rgba(255, 128, 10, 0.65);
$primary40: rgba(255, 128, 10, 0.4);
$secondary: #fea53d;
$tertiary: #f3b060;
$nav-grey: #dfdfdf;
$light-grey: #fcfcfc;
$light-orange: #ffecd7;
$dark-grey: #303030;
$black-grey: #2f2c27;
$dark-orange: #382911;
$red: #ce2424;
$green: #4fb200;
$yellow: #ffe142;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: 500;
  color: $light-grey;
}
body {
  background-color: $light-grey;
}
.container {
  padding: 0 10px;
}
h2 {
  font-size: 3rem;
  line-height: 100%;
  font-weight: 900;
}
a,
button {
  text-decoration: none;
  color: $light-grey;
  border: none;
}
.btn-primary {
  display: inline-block;
  background-color: $primary;
  text-decoration: none;
  color: $light-grey;
  padding: 10px 24px;
  border-radius: 15px;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 900;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $light-grey;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 2rem;
  font-weight: 900;
  transform-origin: center;
}
.btn-marginleft{
  margin-left: 10px;
}
.title {
  color: $dark-grey;
  margin-left: 10px;
}

// article home products
@media only screen and (min-width: 991px) {
  article.activeSlide {
    opacity: 1;
    transform: translateX(325px);
  }
  article.lastSlide {
    opacity: 1;
    transform: translateX(55px);
  }
  article.nextSlide {
    opacity: 1;
    transform: translateX(595px);
  }
  article.prevStock {
    opacity: 0;
    transform: translateX(-150%);
  }
  article.stockSlide {
    opacity: 0;
    transform: translateX(400%);
  }
}

// home products btn
.nextBtn,
.prevBtn {
  display: none !important;
}
@media only screen and (min-width: 991px) {
  .nextBtn,
  .prevBtn {
    display: flex !important;
    width: 42px;
    height: 42px;
    background-color: $secondary;
    border-radius: 100%;
    position: absolute;
    font-size: 3rem;
    font-weight: 900;
    svg {
      width: min-content;
      height: min-content;
    }
  }
  .nextBtn {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .prevBtn {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
}

// Gestion taille page + footer
.page-100 {
  min-height: 100vh;
}
